<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="BaseAddress" value="http://localhost:3425/"/>
    <add key="Model" value="EpsonFP"/>
    <add key="Tax" value="21"/>
    <add key="Comm" value="0"/>
    <add key="BaudRate" value="3"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="ServiceBehaviour" name="TaxBiller.WindowsService.ServiceSelector">
        <endpoint address="http://localhost:3424/" binding="customBinding" bindingConfiguration="JsonBinding" name="Rest" behaviorConfiguration="web" contract="TaxBiller.WindowsService.IServiceSelector"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="JsonBinding">
          <webMessageEncoding webContentTypeMapperType="TaxBiller.WindowsService.JsonContentTypeMapper, TaxBiller.WindowsService"/>
          <httpTransport manualAddressing="true" maxReceivedMessageSize="10000000"/>
        </binding>
      </customBinding>
    </bindings>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
