<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Model" value="EpsonFP" />
    <add key="Tax" value="21" />
    <add key="Comm" value="0" />
    <add key="BaudRate" value="3" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
